.cabecalho{
    display: flex;
    background-image: linear-gradient(to right, #6032E4, #725EF2, #42A5F5);;
    width: 100vw;
    height: 10%;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;    
    margin-right: -50vw;  
    justify-content: space-between;  
    padding: 0 5%;  
    align-items: center;
}
 
.cabecalho__nav{
    width: inherit;
    height: inherit;    
}
 
.cabecalho__li{
    display: inline-block;
    margin:2rem;
    transition: transform 0.3s linear;
    display: inline-block;
}
 
.cabecalho__bg{
    display: inline-block;
    background-color: #29C9FF;
    border-radius: 10px;
    width: 8vw;
    padding: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;    
    margin-left: auto;
    float: right;
}
 

 
.cabecalho__bg:hover{
    background-image: linear-gradient(to top, black, rgb(75, 75, 75) );
    color: #fff;

}

.cabecalho ul{
    display: flex;
    justify-content: space-around;
    align-items: center;         
    list-style: none;
    margin: 0;
    padding: 20px 0;              
    width: 100%;
}

.cabecalho__li:hover{
    transform: scale(1.1);
}

.cabecalho__logo{
    height: 100px;       
    width: 100px;       
    object-fit: contain;
    justify-content: left;
}

.cabecalho__logo:hover{
    transform: scale(1.2);

}

.contato-header {
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-content: left;
}

.titulo{
    margin-left: 10.5rem;
}

