body{
  background-color: rgb(255, 255, 255);
  margin-rigth: 10;
  overflow-x: hidden; 
  box-sizing: border-box;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}

h1{
  text-align: center ;
}

h2{
  text-align: center;
}

p{
  font-weight: bold;
  font-size: 17px;
}

.container{
  padding: 0 5px;
}

.integrantes{
  font-size: small;
}

footer{
  background-image: linear-gradient(to right, #6032E4, #725EF2, #42A5F5);;  
  color: white;         
  padding: 10px 0;        
  width: 100%;

}

.image-index{
    max-width: 550px;
    max-height: 550px;
    margin-left: 480px;
    padding: 10px;
}