main {
 background-image: url('../img/transportep.jpg');
 background-size: 100%;
 background-position: left;
 background-repeat: no-repeat;
 padding: 20px;
 
 
 color: rgb(255, 255, 255);
 -webkit-text-stroke: 0.5px rgb(0, 0, 0) ;
}

body{
  background-color: rgb(255, 255, 255);
  margin-rigth: 10;
  overflow-x: hidden; 
  box-sizing: border-box;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}

h1{
  text-align: center ;
}

h2{
  text-align: center;
}

.container{
    padding: 0 5px;
}

.integrantes{
    font-size: small;
}



